# Python cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
.env
*.env

# Archivos de Django
*.log
*.sqlite3
media/

# IDEs / Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
